body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF;
    border: 3px solid #000000;
}

header, footer {
    background-color: #F1E9DB;
    color: #333333;
    padding: 20px;
    border-bottom: 3px solid #000000;
    font-family: "Bickham Script Pro", serif;
}

.logo img {
    height: 80px;
}

@media screen and (max-width: 600px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        height: 50px;
    }
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.boton {
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #000000;
    width: 200px;
    border-radius: 10px;
    background-color: #F1E9DB;
    font-family: "Bickham Script Pro", serif;
    transition: transform 0.3s;
}

.boton:hover {
    transform: scaleY(1.1);
}

.boton img {
    width: 60px;
    margin: 5px 0 5px 5px;
    margin-right: 10px;
}

.boton button {
    background-color: #F1E9DB;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bickham Script Pro", serif;
    font-size: 16px;
}

.botones a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-family: "Bickham Script Pro", serif;
    border-top: 3px solid #000000;
}

footer p {
    color: #000000;
}

@media screen and (min-width: 600px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer p {
        width: 45%;
    }
}

@media screen and (min-width: 900px) {
    footer p {
        width: 30%;
    }
}


@keyframes entradaDesdeAbajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header img, footer p,div img,div button {
    animation: entradaDesdeAbajo 2s ease-out forwards;
}